body {
    margin: 0px;
    padding: 0px;
}
.head-block-menu {
    margin-top: 32px;
    margin-bottom: 35px;
    margin-left: 332px;
    text-align: center;

}

.head-block-menu-1 {
    padding-right: 65px;
}
.head-block-menu-2 {
    padding-right: 70px;

}
.head-block-menu-3 {
    padding-right: 78px;

}
.head-block-menu-4{
    padding-right: 371px;
}
a {
    font-family: Helvetica, sans-serif;
    color: #16a085;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;

}
.head-block-img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

 .second-block {
     margin: 0px;
     padding: 0px;
     width: 100%;
     height: 100%;
     background-color: #f5f6f7;
 }
 h1, p {
     padding: 0px;
     margin: 0px;
 }
 .second-block-title {
     font-family: sans-serif;
     font-size: 22px;
     color: #373737;
     letter-spacing: 1.5px;
     text-transform: uppercase;
     padding: 60px 320px 35px 340px;

 }
 .second-block-text {
     font-family: sans-serif;
     font-size: 16px;
     color:#373737;
     text-align: center;
     width: 1055px;
     height: 350px;
     margin: 0 auto;
     line-height: 25px;
     text-indent: 45px;
 }
 .second-block-botton {
     text-align: center;
     padding-bottom:95px;
     padding-left: 530px;
     padding-right: 560px;
 }
 input {
    width: 190px;
    height: 50px;
     margin: 0 auto;
     background-color: #16a085;
     border: #16a085 solid 1px;
     border-radius: 1.5px;
     color: #f5f6f7;
     font-family: sans-serif;
     font-size: 12px;
     text-transform: uppercase;
     letter-spacing: 1.5px;
     font-weight: bold;
}
 .footer-block {
     font-family: sans-serif;
     font-size: 16px;
     color: rgba(55, 55, 55, 255);
     font-weight: bold;
     letter-spacing: 1.5px;
     padding: 45px 100px 45px 770px;
 }